<!-- Define AngularJS app -->
<html ng-app="scarlet-life">
<head>

  <!-- <title>Scarlet Life</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scarlet Life</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Scarlet Life">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Scarlet Life">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#e13e3e">

  <!-- Color the status bar on mobile devices -->
  <meta name="theme-color" content="#e13e3e">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!-- <link rel="canonical" href="http://www.the-scarlet-life.appspot.com/"> -->

   <!-- Let's use some icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

   <!-- My CSS -->
   <link type="text/css" rel="stylesheet" href="materialize-src/sass/materialize.css">
   <link type="text/css" rel="stylesheet" href="materialize-src/sass/style.css">
   <link rel="stylesheet" type="text/css" href="./css/GameOfLife.css" />
   <link rel="stylesheet" type="text/css" href="css/progressbars.css" />
   <link rel="stylesheet" type="text/css" href="css/modal.css" />
   <link rel="stylesheet" type="text/css" href="css/mani.css" />

   <!-- Game of Life -->
   <script src="js/LevelBuilder.js"></script>
   <script src="./js/Game.js"></script>
    <script src="./js/MobileGame.js"></script>
    <script src="./js/Hammer.js"></script>
    <script src="./js/Music.js"></script>


   <!-- Google Auth -->
   <meta name="google-signin-scope" content="profile email">
   <meta name="google-signin-client_id" content="340788742260-rmmp3r577re59ss9p83uhjb3mjesvlvs.apps.googleusercontent.com">
   <script src="https://apis.google.com/js/platform.js" async defer></script>

   <!-- Initializer for MaterializeCSS -->
   <script src="js/init.js"></script>

   <!-- Angular & Angular Route-->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="node_modules/angular-route/angular-route.js"></script>

   <!-- Controllers -->
   <script src="js/controllers/route.js"></script>
   <script src="js/controllers/mainController.js"></script>
   <script src="js/controllers/exploreController.js"></script>
   <script src="js/controllers/favoritesController.js"></script>
   <script src="js/controllers/myLevelsController.js"></script>
   <script src="js/controllers/levelSelectController.js"></script>
   <script src="js/controllers/googleLoginController.js"></script>
   <script src="js/controllers/levelFormsController.js"></script>
   <script src="js/controllers/contactController.js"></script>

   <!-- Modal Stuff -->
   <script src="./js/modal.js"></script>

    <!-- Social Media -->
    <!-- Twitter Share button script -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- Google +1 Button -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<!-- BODY -->
<body ng-controller="GoogleCtrl">

  <!-- NOTE: I may use this for animation -->
  <!-- <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
    </div>
  </div> -->

      <div id="bar">
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">

          <!-- Login/Logout Button Start -->
          <li ><a ng-click="signout()" href="#/">Sign Out</a> </li>

          <!-- <li class="g-signin2" data-onsuccess="onSignIn"></li> -->

        </ul>
        <!-- Navigation -->
        <nav id="my-nav" role="navigation">

          <!-- Full Navigation -->
          <div class="nav-wrapper container valign" height="10px"><span id="logo-container" href="#" class="brand-logo flow-text hide-on-med-and-down">Scarlet Life</span>
            <ul class="right hide-on-med-and-down">
              <li class="waves-effect tooltipped" data-position="bottom" data-delay="300" data-tooltip="Go Home"><a id="home-btn"  href="#/">Home</a></li>

              <!-- <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a> -->


              <li class="waves-effect tooltipped" data-position="bottom" data-delay="300" data-tooltip="About SL"><a id="about-btn" href="#/about">About</a></li>


              <!-- Contact Us -->
              <li class="waves-effect tooltipped" data-position="bottom" data-delay="300" data-tooltip="Contact Us"><a id="help-btn" href="#/contact">Contact</a></li>


              <li class="waves-effect tooltipped" data-position="bottom" data-delay="300" data-tooltip="Reference Guide"><a id="help-btn" href="#/help">Help</a></li>


              <!-- Admin Button -->
              <!-- <li ng-controller="testCtrl">
                <a id="admin-btn" class="btn red waves-effect" ng-click="getAccess()">Admin</a>
              </li> -->


              <!-- Dropdown Trigger -->
              <li><a id="user-dropdown" class="dropdown-button"   data-activates="dropdown1" ng-model="username">Welcome, {{username}}!<i class="material-icons right">arrow_drop_down</i></a></li>
              <li id="user-img-list" style="padding-top: 10px !important;"><img id="user-img" img class="circle" width="40px" ng-src="{{image}}"></li>

              <li class="hide-on-med-and-down">
                  <a class="white-text" onclick="updateVolume()" ><i class="material-icons" id="volume-icon">volume_up</i></a>
              </li>

            </ul>

            <!-- Side Navigation -->
            <ul id="slide-out" class="side-nav">
              <li>
                <!-- Userview content -->
                <div class="userView">
                  <img class="background" src="images/galaxy.jpg">
                  <a href=""><img id="user-img-mobile" class="circle" ng-src="{{image}}"></a>
                  <a href=""><span id="username-mobile" class="white-text name" ng-model="username">{{username}}</span></a>
                  <a href=""><span id="user-email-mobile" class="white-text email" ng-model="email">{{email}}</span></a>
                </div>
              </li>
              <!-- Menu items -->
                <li class="g-signin2" data-onsuccess="onSignIn" hidden></li>
                <li><a class="waves-effect" ng-click="signout()" >Sign Out</a></li>
              <li><div class="divider"></div></li>
              <li><a class="subheader">Menu</a></li>
              <li><a id="home-btn" class="waves-effect" href="#/">Home</a></li>
              <li><a id="about-btn" class="waves-effect" href="#/about">About</a></li>
              
              <li><a id="help-btn" href="#/contact">Contact</a></li>

              <li><a id="help-btn" class="waves-effect" href="#/help">Help</a></li>
              <li><div class="divider"></div></li>
              <li><a class="subheader">Social</a></li>
              <li><a class="grey-text text-lighten-4 col s12 m4 right-align"  >
                <!-- Social -->

                 <div>

                  <div id="fb-root"></div><div class="fb-like" data-href="https://www.facebook.com/Scarlet-Life-157570788055438/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
                  <a href="https://twitter.com/TheScarletLife" class="twitter-follow-button" data-show-count="false">Follow @TheScarletLife</a>
                  <!-- Google+ Share Button -->
                  <a class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/100279811967275948433" data-rel="publisher"></a>
                  <!--<i href="#" class="mdi mdi-facebook-box"></i>-->
                <!--<i href="#" class="mdi mdi-twitter-box"></i>-->
                <!--<i href="#" class="mdi mdi-google-plus-box"></i>-->
                 </div>
              </a>
              </li>
              <li><div class="divider"></div></li>
              <li><a class="col s12 m4 waves-effect left-align" href="#/terms">Terms &#38; Conditions</a></li>

              <!-- Side Footer -->
              <footer class="page-footer">
                <div class="footer-copyright">
                  <div class="container">
                    <div class="row">
                    <!-- Made by Scarlet Life + Richard McKenna -->
                    <a class="grey-text text-lighten-4"  >
                      &#169; 2016 Scarlet Life &#38; Richard McKenna
                      <!-- Social -->
                    </a>
                    <a class="grey-text text-lighten-4 col s12 m4"  >
                    </a>
                    </div>
                  </div>
                </div>
              </footer>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </nav>

      </div>

      <!--Music-->
    <div>
      <!--<embed src="./music/ScarletOne.mp3" type="audio/mp3" width="180" height="90" loop="true" autostart="true" hidden="true" />-->

      <audio autoplay loop id="backgroundAudio">
          <source src="./music/ScarletOne.mp3" type="audio/mp3">
      </audio>
     </div>

      <!-- Game goes here -->
      <div id="middle-row" class="row">
        <div id="middle-page-col" class="col s12">

            <!-- Volume Controls -->
<!--             <div id="volume-bar" class="row #e13e3e" style="width: calc(78%)">
                <div class="col s12 right-align">
                    <a class="btn-floating btn-small" id="volume-button" onclick="updateVolume()" ><i class="material-icons" id="volume-icon">volume_up</i></a>
                </div>
            </div> -->

          <!-- Angular templating: this is where content will be injected -->
          <div ng-view></div>


          <!-- End Middle Card -->
        </div>
        <!-- End Middle Page Col  -->
      </div>
      <!-- End Middle Row  -->
      <!-- Ads -->
      <div id="scarletAds" class="scarletAds">
        <a href="" class="close"><i class="material-icons">close</i></a>
      </div>


  <!--<footer class="page-footer hide-on-med-and-down">-->
      <!--<div class="container">-->
          <!--<div class="row">-->
              <!--<div class="col l6 s12">-->
                  <!--<h5 class="white-text">Scarlet Life</h5>-->
                  <!--<p class="grey-text text-lighten-4" href="#/terms">-->
                      <!--Terms &#38; Conditions-->
                  <!--</p>-->
              <!--</div>-->
              <!--<div class="col l4 offset-l2 s12">-->
                  <!--<h5 class="white-text">Social</h5>-->
                  <!--<ul>-->
                      <!--<li style="padding-bottom: 8px !important;"><div id="fb-root"></div><div class="fb-like" data-href="https://www.facebook.com/Scarlet-Life-157570788055438/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="dark"></div> </li>-->

                      <!--<li><a href="https://twitter.com/TheScarletLife" class="twitter-follow-button" data-show-count="false">Follow @TheScarletLife</a> </li>-->

                      <!--&lt;!&ndash; Google+ Share Button &ndash;&gt;-->
                      <!--<li> <a class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/100279811967275948433" data-rel="publisher"></a> </li>-->

                  <!--</ul>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="footer-copyright">-->
          <!--<div class="container">-->
              <!--&#169; 2016 Scarlet Life &#38; Richard McKenna-->
              <!--&lt;!&ndash;<a class="grey-text text-lighten-4 right" href="#!">More Links</a>&ndash;&gt;-->
          <!--</div>-->
      <!--</div>-->
  <!--</footer>-->


      <!-- Our sexy footer -->
  <footer class="page-footer hide-on-med-and-down">
      <div class="footer-copyright">
          <div class="container">
              <div class="row">
                  <a class="grey-text text-lighten-4 col s12 m4 left-align" href="#/terms">
                      Terms &#38; Conditions
                  </a>
                  <a class="grey-text text-lighten-4 col s12 m4 center-align"  >
                      &#169; 2016 Scarlet Life &#38; Richard McKenna
                  </a>
                  <a class="grey-text text-lighten-4 col s12 m4 right-align"  >

                      <div id="fb-root"></div><div class="fb-like" data-href="https://www.facebook.com/Scarlet-Life-157570788055438/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
                      <a href="https://twitter.com/TheScarletLife" class="twitter-follow-button" data-show-count="false">Follow @TheScarletLife</a>
                      <!-- Google+ Share Button -->
                      <a class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/100279811967275948433" data-rel="publisher"></a>

                      <!--<i href="#" class="mdi mdi-facebook-box waves-effect"></i>-->
                      <!--<i href="#" class="mdi mdi-twitter-box waves-effect"></i>-->
                      <!--<i href="#" class="mdi mdi-google-plus-box waves-effect"></i>-->
                  </a>
              </div>
          </div>
  </footer>




  <!--<div id="fb-root"></div><div class="fb-like" data-href="https://www.facebook.com/Scarlet-Life-157570788055438/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>-->

  <!--<a href="https://twitter.com/TheScarletLife" class="twitter-follow-button" data-show-count="false">Follow @TheScarletLife</a>-->

  <!--&lt;!&ndash; Google+ Share Button &ndash;&gt;-->
  <!--<a class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/100279811967275948433" data-rel="publisher"></a>-->



  <!-- jQuery.js -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  <!-- Materialize.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <!-- Init all the jQuery for materializeCSS -->
  <script src="js/init.js"></script>


  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  </body>

</html>
